set -x PLAID_PUBLIC_KEY 'foo'
set -x PLAID_CLIENT_ID 'foo'
set -x PLAID_SECRET 'foo'
set -x PLAID_PRODUCTS 'auth,transactions'
set -x PLAID_ENV 'development'
set -x FLASK_ENV 'development'
set -x OP_SESSION_foo (op signin foo --output=raw)
